@charset "UTF-8";
/*
live-server
npm run compile:sass
*/
/* ABSTRACTS */
/* BASE */
/* Universal Selector - tudo que colocar aqui é global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ?? */ }

.span {
  display: block; }

/* ROOT */
html {
  font-size: 62.5%;
  /* 1rem = 10px (root font size) */
  /* The standard browser font size is 16px, but some users with short sight increase it to larger font sizes, so if we set this to a specific px size, like 10px it would be too small for the user and we would be taking from him the option to choose how big they want to see a website, so we use percentages of the standard size, so it will always increase based on the user's size choice. */
  text-align: center; }

body {
  background-color: #000;
  box-sizing: border-box;
  /* Faz com que o padding do conteúdo seja "pra dentro" do tamanho do container, não somando na largura/altura do container */
  scroll-behavior: smooth;
  min-width: 320px;
  width: auto !important;
  /* Firefox will set width as auto */
  width: 320px; }

.container {
  width: 100%;
  position: relative; }

.subtitle {
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.8em;
  font-weight: 500;
  margin-bottom: 40px; }

/* COMPONENTS */
/* LAYOUT */
.header {
  position: relative;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  height: 0; }
  .header__menu img {
    height: 70px;
    position: relative;
    visibility: hidden; }

.hero {
  display: inherit; }
  .hero__featured-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    .hero__featured-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .hero__overlay {
    position: absolute;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 10px; }
    .hero__overlay-btn {
      background-color: Transparent;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      right: 47%;
      top: 40%; }
    .hero__overlay-a {
      position: relative;
      width: 25%;
      top: 60%; }

.porfolio {
  margin: 0;
  position: absolute;
  z-index: 100;
  background-color: #000; }

.container {
  width: 100%;
  z-index: 98;
  background-color: #000; }

/* ---------- Zoom container ---------- */
.image-zoom-container {
  list-style: none;
  font-size: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.zoom-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.zoom-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
  -webkit-filter: grayscale(0.9);
  filter: grayscale(0.9); }

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease; }

.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 2px #666666;
  padding: auto;
  margin-top: 25%; }

.zoom-container:hover img {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
  filter: grayscale(0);
  transition: 1.5s linear; }
  .zoom-container:hover img .zoom-container .zoom-caption h3 {
    display: block; }

.zoom-container:hover .zoom-caption {
  background-color: none; }

@media (max-width: 650px) {
  .image-zoom-container {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 480px) {
  .zoom-container .zoom-caption h3 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: #fff;
    padding: auto; } }

.our-work {
  position: relative; }

.keyart,
.keyart_layer {
  min-height: 1000px;
  max-height: 2174px; }

#nonparallax {
  display: block; }

#nonparallax {
  background-image: url("../img/montanha-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%; }

#parallax {
  display: block;
  scroll-behavior: smooth; }

.keyart {
  position: relative;
  z-index: 10; }

.keyart_layer {
  background-position: bottom center;
  background-repeat: repeat-y;
  width: 100%;
  position: absolute; }

.keyart_layer.parallax {
  position: fixed; }

#keyart-1 {
  background-color: #000;
  background-image: url(../img/montanha-3.jpg);
  top: 150%;
  background-size: cover;
  z-index: 30; }

#keyart-2 {
  position: absolute;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  z-index: 97;
  background-image: url(../img/pinheirosold.png);
  background-position: center center;
  background-size: cover;
  z-index: 150; }

#keyart-scrim {
  background-color: #000;
  opacity: 0; }

.our-work__name {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.8rem;
  padding-left: 10%;
  padding-top: 5%;
  position: relative; }

.our-work__desc {
  margin-top: 5%; }

.our-work__desc li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: right;
  padding-right: 10%;
  line-height: 50px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1rem; }

@media only screen and (min-width: 1225px) and (max-width: 1330px) {
  #keyart-1 {
    top: 97%; } }

@media only screen and (min-width: 1331px) and (max-width: 1400px) {
  #keyart-1 {
    top: 105%; } }

@media only screen and (min-width: 1401px) and (max-width: 1550px) {
  #keyart-1 {
    top: 115%; } }

@media only screen and (min-width: 1551px) and (max-width: 1600px) {
  #keyart-1 {
    top: 120%; } }

@media only screen and (min-width: 1601px) and (max-width: 1715px) {
  #keyart-1 {
    top: 130%; } }

@media only screen and (min-width: 1716px) and (max-width: 1850px) {
  #keyart-1 {
    top: 140%; } }

@media only screen and (min-width: 1851px) and (max-width: 1900px) {
  #keyart-1 {
    top: 150%; } }

@media only screen and (min-width: 1901px) and (max-width: 2100px) {
  #keyart-1 {
    top: 159%; } }

@media only screen and (min-width: 2105px) {
  #keyart-1 {
    top: 165%; } }

/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/
@media (min-width: 1225px) {
  #nonparallax {
    display: none; }
  #parallax {
    display: block; } }

/*********************/
/*********************/
/* DISABLES PARALLAX */
/*********************/
/*********************/
@media (max-width: 1224px) {
  #nonparallax {
    display: block;
    font-family: "Montserrat";
    text-align: center;
    color: #fff;
    z-index: 150; }
  #parallax {
    display: none; } }

@media only screen and (max-device-width: 1224px) {
  /* PARALLAX */
  .keyart,
  .keyart_layer {
    height: 550px; }
  .keyart_layer {
    position: absolute;
    background-size: auto 600px; } }

.footer {
  background-image: url(../img/pinheiros-triangulo.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 160;
  height: 400px; }
  .footer__content {
    font-family: "Montserrat";
    width: 100%;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
    position: relative;
    background-image: url(../img/footer-separado.png);
    background-size: cover;
    background-position: center center; }
    .footer__content--contato {
      position: absolute;
      top: 45%;
      float: left;
      color: #000;
      z-index: 100;
      margin: auto; }
      .footer__content--contato p {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        text-align: left; }
      .footer__content--contato ul {
        color: #000;
        list-style-type: none;
        font-size: 1.2rem;
        text-align: left; }
        .footer__content--contato ul li span {
          font-size: 0.9rem; }
    .footer__content--orcamento {
      position: relative;
      top: 51.5%;
      font-size: 2rem;
      color: #000;
      text-transform: uppercase;
      font-weight: 300;
      text-align: right;
      padding: 0 0 0 10px; }
      .footer__content--orcamento a:link,
      .footer__content--orcamento a:visited {
        text-decoration: none;
        color: #000;
        padding: 0 0 0 10px; }

.clearfix {
  overflow: auto; }

@media screen and (max-width: 750px) {
  .footer__content--orcamento {
    top: 47.5%; }
    .footer__content--orcamento a:link span,
    .footer__content--orcamento a:visited span {
      display: block; } }

@media screen and (max-width: 620px) {
  .footer__content--orcamento {
    top: 47.5%; }
    .footer__content--orcamento a:link span,
    .footer__content--orcamento a:visited span {
      display: block; } }

@media screen and (max-width: 550px) {
  .footer__content {
    background-size: inherit;
    padding-right: 2fr;
    padding-left: 10px; }
    .footer__content--contato {
      top: 47%; }
      .footer__content--contato p {
        font-size: 1rem; }
      .footer__content--contato ul {
        font-size: 0.9rem;
        text-align: left;
        font-weight: 500; }
        .footer__content--contato ul li span {
          font-size: 0.7rem; }
    .footer__content--orcamento {
      top: 47.5%; }
  .footer__content--orcamento a:link,
  a:visited {
    font-size: 1rem;
    font-weight: 500; }
    .footer__content--orcamento a:link span,
    a:visited span {
      display: block; } }

@media screen and (max-width: 400px) {
  .footer__content {
    background-size: inherit;
    padding-right: 5px;
    padding-left: 5px; }
    .footer__content--contato {
      top: 47%; }
      .footer__content--contato p {
        display: none; }
      .footer__content--contato ul {
        font-size: 1rem;
        text-align: left; }
        .footer__content--contato ul::before {
          font-size: 1rem;
          content: "CONTATO";
          font-weight: 500; }
        .footer__content--contato ul li {
          font-size: 0.85rem;
          font-weight: 500; }
          .footer__content--contato ul li span {
            font-size: 0.7rem; }
    .footer__content--orcamento {
      top: 47.5%; }
  .footer__content--orcamento a:link,
  a:visited {
    font-size: 1rem;
    font-weight: 500; }
    .footer__content--orcamento a:link span,
    a:visited span {
      display: block; } }

.copyright p {
  color: #fff;
  font-family: "Montserrat";
  padding: 10px 0 10px 0;
  font-size: 1rem; }

.projheader {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 25px 0; }
  .projheader__proj a img {
    height: 70px; }

.mainContent {
  display: inherit;
  position: relative;
  font-family: "Montserrat";
  color: #fff;
  padding-left: 15%;
  padding-right: 15%; }
  .mainContent .projInfo__title {
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 2.2rem;
    text-align: center; }
  .mainContent .projInfo__subtitle {
    padding-top: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400; }
  .mainContent .projInfo a:link,
  .mainContent .projInfo a:visited {
    display: block;
    font-style: italic;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: left;
    text-decoration: none;
    color: #666666; }
  .mainContent .projFeature {
    position: relative;
    padding-bottom: 56.25%;
    height: auto;
    overflow: hidden; }
    .mainContent .projFeature iframe,
    .mainContent .projFeature object,
    .mainContent .projFeature embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .mainContent .projDescription {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px 0 30px 0; }
    .mainContent .projDescription__desc {
      text-align: left;
      font-weight: 400;
      font-size: 1.3rem; }
    .mainContent .projDescription__credits {
      text-align: right;
      font-weight: normal; }
      .mainContent .projDescription__credits .credits--title {
        font-weight: 600;
        font-size: 1.3rem;
        color: #666666;
        font-style: italic;
        padding-bottom: 5px; }
      .mainContent .projDescription__credits .credits--name {
        font-weight: 500;
        font-size: 1.2rem; }
        .mainContent .projDescription__credits .credits--name:not(:last-child) {
          padding-bottom: 25px; }
        .mainContent .projDescription__credits .credits--name span {
          font-weight: 400;
          font-size: 1.2rem;
          color: #666666; }
        .mainContent .projDescription__credits .credits--name .other_name {
          margin-top: 5px; }

.projImages {
  font-family: "Montserrat";
  color: #fff; }
  .projImages::before {
    content: "";
    display: block;
    width: 20%;
    height: 1px;
    background: #666666;
    margin: 0 auto 20px; }
  .projImages__title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-size: 1.5rem; }
  .projImages .slick-prev:before,
  .projImages .slick-next:before {
    color: black; }
  .projImages .container {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%; }
  .projImages .client-text li {
    left: 0;
    right: 0;
    margin: auto;
    list-style: none;
    margin: 50px;
    z-index: 9999;
    color: black; }
  .projImages .item {
    height: 200px; }
  .projImages .one {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .two {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .three {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .four {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .five {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .six {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .seven {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .eight {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .nine {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .ten {
    background-image: url("../img/port/port-soldiers-min.jpg"); }
  .projImages .slick-slide {
    width: 230px;
    margin-right: 15px;
    margin-left: 15px; }

.projFooter {
  color: #fff; }

/* PAGES */
