@charset "UTF-8";
/*
live-server
npm run compile:sass
*/
/* ABSTRACTS */
/* BASE */
/* Universal Selector - tudo que colocar aqui é global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ?? */ }

/* ROOT */
html {
  font-size: 62.5%;
  /* 1rem = 10px (root font size) */
  /* The standard browser font size is 16px, but some users with short sight increase it to larger font sizes, so if we set this to a specific px size, like 10px it would be too small for the user and we would be taking from him the option to choose how big they want to see a website, so we use percentages of the standard size, so it will always increase based on the user's size choice. */
  text-align: center; }

body {
  background-color: #000;
  box-sizing: border-box;
  /* Faz com que o padding do conteúdo seja "pra dentro" do tamanho do container, não somando na largura/altura do container */ }

.container {
  margin: 0 10%;
  position: relative; }

.subtitle {
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.8em;
  font-weight: 500;
  margin-bottom: 40px; }

/* COMPONENTS */
/* LAYOUT */
.header {
  position: relative;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  height: 0; }
  .header__menu img {
    height: 70px;
    position: relative;
    visibility: hidden; }

.hero {
  display: inherit; }
  .hero__featured-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    .hero__featured-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .hero__overlay {
    position: absolute;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 10px; }
    .hero__overlay-btn {
      background-color: Transparent;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      right: 47%;
      top: 40%; }
    .hero__overlay-a {
      position: relative;
      width: 25%;
      top: 60%; }

.portfolio {
  margin-top: 3px; }
  .portfolio__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
    .portfolio__item--1 {
      background-image: url(../img/port-barber.jpg);
      height: 200px;
      background-size: cover;
      background-position: center;
      grid-column: span 2; }
    .portfolio__item--2 {
      background-image: url(../img/port-frankie.jpg);
      height: 200px;
      background-size: cover;
      background-position: center; }
    .portfolio__item--3 {
      background-image: url(../img/port-journal.jpg);
      height: 200px;
      background-size: cover;
      background-position: center; }
    .portfolio__item--4 {
      background-image: url(../img/port-pizza.jpg);
      height: 200px;
      background-size: cover;
      background-position: center; }
    .portfolio__item--5 {
      background-image: url(../img/port-soldiers.jpg);
      height: 200px;
      background-size: cover;
      background-position: center; }
    .portfolio__item--6 {
      background-image: url(../img/port-starbucks.jpg);
      height: 200px;
      background-size: cover;
      background-position: center;
      grid-column: span 2; }

.div {
  display: block; }

.our-work {
  margin: 0;
  position: relative; }
  .our-work .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth; }
    .our-work .parallax::-webkit-scrollbar {
      display: none; }
    .our-work .parallax__group {
      position: relative;
      height: 100vh; }
      .our-work .parallax__group .parallax__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      .our-work .parallax__group .parallax__layer--1 {
        background-image: url(../img/montanha.jpg);
        background-size: cover;
        transform: translateZ(-1px) scale(2); }
      .our-work .parallax__group .parallax__layer--2 {
        background-image: url(../img/pinheiros.png);
        background-size: cover;
        height: 100vh;
        transform: translateZ(0px); }
      .our-work .parallax__group .parallax__layer--3 {
        position: absolute;
        font-family: "Montserrat";
        text-align: center;
        color: #fff;
        height: 100%;
        width: 100%;
        transform: translateZ(-6px) scale(7); }
        .our-work .parallax__group .parallax__layer--3 .our-work__name {
          text-transform: uppercase;
          font-size: 4rem;
          text-align: left;
          font-weight: 600;
          letter-spacing: 0.8rem;
          padding-left: 10%;
          padding-top: 5%;
          position: relative; }
        .our-work .parallax__group .parallax__layer--3 .our-work__desc {
          margin-top: 5%; }
          .our-work .parallax__group .parallax__layer--3 .our-work__desc li {
            list-style-type: none;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: right;
            padding-right: 10%;
            line-height: 50px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 1rem; }

.footer {
  background-color: #000;
  position: relative;
  background-image: url(../img/pinheiros2.jpg);
  background-size: cover;
  background-position: bottom; }
  .footer__grid {
    font-family: "Montserrat";
    height: 50vh; }
    .footer__grid--contato {
      float: left;
      color: #fff; }
      .footer__grid--contato p {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        text-align: left;
        padding: 20px 0 0 10px; }
      .footer__grid--contato .contato__lista ul {
        color: #fff;
        list-style-type: none;
        font-size: 1.2rem;
        text-align: right; }
        .footer__grid--contato .contato__lista ul li span {
          font-size: 0.9rem; }
    .footer__grid--triangulo .triangulo--overlay {
      position: relative;
      border: none;
      width: 100%;
      height: 70px;
      background-size: cover; }
    .footer__grid--orcamento {
      float: right;
      font-size: 1.5rem;
      color: #fff;
      text-transform: uppercase;
      grid-row-start: 2;
      grid-column-start: 3;
      font-weight: 300;
      text-align: right; }
      .footer__grid--orcamento a:link,
      .footer__grid--orcamento a:visited {
        text-decoration: none;
        color: #fff; }

/* PAGES */
