@charset "UTF-8";
/*
live-server
npm run compile:sass
*/
/* ABSTRACTS */
/* BASE */
/* Universal Selector - tudo que colocar aqui é global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ?? */ }

/* ROOT */
html {
  font-size: 62.5%;
  /* 1rem = 10px (root font size) */
  /* The standard browser font size is 16px, but some users with short sight increase it to larger font sizes, so if we set this to a specific px size, like 10px it would be too small for the user and we would be taking from him the option to choose how big they want to see a website, so we use percentages of the standard size, so it will always increase based on the user's size choice. */
  text-align: center; }

body {
  background-color: #000;
  box-sizing: border-box;
  /* Faz com que o padding do conteúdo seja "pra dentro" do tamanho do container, não somando na largura/altura do container */
  scroll-behavior: smooth; }

.container {
  width: 100%;
  position: relative; }

.subtitle {
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.8em;
  font-weight: 500;
  margin-bottom: 40px; }

/* COMPONENTS */
/* LAYOUT */
.header {
  position: relative;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  height: 0; }
  .header__menu img {
    height: 70px;
    position: relative;
    visibility: hidden; }

.hero {
  display: inherit; }
  .hero__featured-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden; }
    .hero__featured-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .hero__overlay {
    position: absolute;
    border: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 10px; }
    .hero__overlay-btn {
      background-color: Transparent;
      border: none;
      outline: none;
      cursor: pointer;
      position: absolute;
      right: 47%;
      top: 40%; }
    .hero__overlay-a {
      position: relative;
      width: 25%;
      top: 60%; }

.porfolio {
  margin: 0;
  position: absolute;
  z-index: 100;
  background-color: #000; }

.container {
  width: 100%;
  z-index: 98;
  background-color: #000; }

/* ---------- Zoom container ---------- */
.image-zoom-container {
  list-style: none;
  font-size: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.zoom-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.zoom-container img {
  display: block;
  width: auto;
  height: 400px;
  object-position: center;
  object-fit: cover;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease; }

.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  margin: 9.5rem 0 0 0; }

.zoom-container:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 2s linear; }
  .zoom-container:hover img .zoom-container .zoom-caption h3 {
    display: block; }

.zoom-container:hover .zoom-caption {
  background-color: none; }

.our-work {
  position: relative; }

.keyart,
.keyart_layer {
  height: 1000px; }

#parallax {
  display: block;
  scroll-behavior: smooth; }

.keyart {
  position: relative;
  z-index: 10; }

.keyart_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-y;
  width: 100%;
  position: absolute; }

.keyart_layer.parallax {
  position: fixed; }

#keyart-1 {
  background-color: #000;
  background-image: url(../img/montanha.jpg);
  top: 150%; }

#keyart-2 {
  position: absolute;
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  z-index: 97; }

#keyart-3 {
  background-image: url(../img/pinheiros.png);
  background-position: center center; }

#keyart-scrim {
  background-color: #000;
  opacity: 0; }

.our-work__name {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.8rem;
  padding-left: 10%;
  padding-top: 5%;
  position: relative; }

.our-work__desc {
  margin-top: 5%; }

.our-work__desc li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: right;
  padding-right: 10%;
  line-height: 50px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1rem; }

#maincontain {
  background-color: #000;
  position: relative;
  z-index: 98; }

#main {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  position: relative;
  background-color: #000; }

@media only screen and (max-width: 900px) {
  #keyart-1 {
    top: 90%; } }

@media only screen and (min-width: 901px) and (max-width: 1220px) {
  #keyart-1 {
    top: 100%; } }

@media only screen and (min-width: 1221px) and (max-width: 1525px) {
  #keyart-1 {
    top: 110%; } }

@media only screen and (min-width: 1526px) and (max-width: 1850px) {
  #keyart-1 {
    top: 125%; }
  #keyart-3 {
    background-position: top center; } }

@media only screen and (min-width: 1851px) and (max-width: 1900px) {
  #keyart-1 {
    top: 135%; }
  #keyart-3 {
    background-position: top center; } }

@media only screen and (min-width: 1901px) and (max-width: 2100px) {
  #keyart-1 {
    top: 145%; }
  #keyart-3 {
    background-position: top center; } }

@media only screen and (min-width: 2101px) {
  #keyart-1 {
    top: 150%; }
  #keyart-3 {
    background-position: top center; } }

.footer {
  background-image: url(../img/pinheiros2.jpg);
  background-size: cover;
  background-position: bottom; }
  .footer #footer {
    background-color: #000;
    position: absolute;
    z-index: 98; }
  .footer #footer-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
    background-color: #000; }
  .footer__grid {
    font-family: "Montserrat";
    height: 50vh; }
    .footer__grid--contato {
      float: left;
      color: #fff;
      z-index: 100; }
      .footer__grid--contato p {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        text-align: left;
        padding: 20px 0 0 10px; }
      .footer__grid--contato .contato__lista ul {
        color: #fff;
        list-style-type: none;
        font-size: 1.2rem;
        text-align: right; }
        .footer__grid--contato .contato__lista ul li span {
          font-size: 0.9rem; }
    .footer__grid--triangulo .triangulo--overlay {
      position: relative;
      border: none;
      width: 100%;
      height: 70px;
      background-size: cover; }
    .footer__grid--orcamento {
      float: right;
      font-size: 1.5rem;
      color: #fff;
      text-transform: uppercase;
      grid-row-start: 2;
      grid-column-start: 3;
      font-weight: 300;
      text-align: right; }
      .footer__grid--orcamento a:link,
      .footer__grid--orcamento a:visited {
        text-decoration: none;
        color: #fff; }

/* PAGES */
