.footer {
  background-image: url(../img/pinheiros2.jpg);
  background-size: cover;
  background-position: bottom;

  & #footer {
    background-color: #000;
    position: absolute;
    z-index: 98;
  }

  & #footer-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
    background-color: #210002;
  }

  &__grid {
    font-family: $font-family;
    height: 50vh;

    &--contato {
      float: left;
      color: #fff;
      z-index: 100;

      & p {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 3rem;
        letter-spacing: 0.2rem;
        text-align: left;
        padding: 20px 0 0 10px;
      }

      & .contato__lista ul {
        color: #fff;
        list-style-type: none;
        font-size: 1.2rem;
        text-align: right;

        & li span {
          font-size: 0.9rem;
        }
      }
    }

    &--triangulo {
      & .triangulo--overlay {
        position: relative;
        border: none;
        width: 100%;
        height: 70px;
        background-size: cover;
      }
    }

    &--orcamento {
      float: right;
      font-size: 1.5rem;
      color: #fff;
      text-transform: uppercase;
      grid-row-start: 2;
      grid-column-start: 3;
      font-weight: 300;
      text-align: right;
      & a:link,
      & a:visited {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
