.header {
  position: relative;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
  height: 0;

  &__menu {
    & img {
      height: 70px;
      position: relative;
      visibility: hidden;
    }
  }
}
