.our-work {
  margin: 1px;
  position: relative;
}

.keyart,
.keyart_layer {
  height: 1000px;
}

#parallax {
  display: block;
  scroll-behavior: smooth;
}

.keyart {
  position: relative;
  z-index: 10;
}

.keyart_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
}

#keyart-1 {
  background-color: #000;
  background-image: url(../img/montanha.jpg);
}

#keyart-2 {
  position: absolute;
  font-family: $font-family;
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  z-index: 97;
}

#keyart-3 {
  background-image: url(../img/pinheiros.png);
}

#keyart-scrim {
  background-color: #000;
  opacity: 0;
}

.our-work__name {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.8rem;
  padding-left: 10%;
  padding-top: 5%;
  position: relative;
}

.our-work__desc {
  margin-top: 5%;
}
.our-work__desc li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: right;
  padding-right: 10%;
  line-height: 50px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1rem;
}
