.div {
  display: block;
}

.our-work {
  margin: 0;
  position: relative;

  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &__group {
      position: relative;
      height: 100vh;
      // transform: translate3d();
      & .parallax__layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      & .parallax__layer--1 {
        background-image: url(../img/montanha.jpg);
        background-size: cover;
        transform: translateZ(-1px) scale(2);
      }

      & .parallax__layer--2 {
        background-image: url(../img/pinheiros.png);
        background-size: cover;
        height: 100vh;
        transform: translateZ(0px);
      }

      & .parallax__layer--3 {
        position: absolute;
        font-family: $font-family;
        text-align: center;
        color: #fff;
        height: 100%;
        width: 100%;
        transform: translateZ(-6px) scale(7);

        & .our-work__name {
          text-transform: uppercase;
          font-size: 4rem;
          text-align: left;
          font-weight: 600;
          letter-spacing: 0.8rem;
          padding-left: 10%;
          padding-top: 5%;
          position: relative;
        }

        & .our-work__desc {
          margin-top: 5%;
          & li {
            list-style-type: none;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: right;
            padding-right: 10%;
            line-height: 50px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 1rem;
          }
        }
      }
    }
  }
}
