.portfolio {
  margin-top: 3px;
  position: relative;
  z-index: 98;
  background-color: #000;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &--1 {
      background-image: url(../img/port-barber.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
      grid-column: span 2;
    }

    &--2 {
      background-image: url(../img/port-frankie.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
    }

    &--3 {
      background-image: url(../img/port-journal.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
    }

    &--4 {
      background-image: url(../img/port-pizza.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
    }

    &--5 {
      background-image: url(../img/port-soldiers.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
    }

    &--6 {
      background-image: url(../img/port-starbucks.jpg);
      height: 500px;
      background-size: cover;
      background-position: center;
      grid-column: span 2;
    }
  }
}
