.porfolio {
  margin: 0;
  position: absolute;
  z-index: 100;
  background-color: #000;
}

.container {
  width: 100%;
  z-index: 98;
  background-color: #000;
}

/* ---------- Zoom container ---------- */

.image-zoom-container {
  list-style: none;
  font-size: 0px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.zoom-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.zoom-container img {
  display: block;
  width: auto;
  height: 400px;
  object-position: center;
  object-fit: cover;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;

  -webkit-filter: grayscale(0.8);
  filter: grayscale(0.8);
}

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  -webkit-transition: all 0.5s ease;
  /* Safari and Chrome */
  -moz-transition: all 0.5s ease;
  /* Firefox */
  -ms-transition: all 0.5s ease;
  /* IE 9 */
  -o-transition: all 0.5s ease;
  /* Opera */
  transition: all 0.5s ease;
}

.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: $font-family;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  margin: 9.5rem 1rem 1rem 0;
}

.zoom-container:hover img {
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* IE 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);

  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 1.5s linear;

  & .zoom-container .zoom-caption h3 {
    display: block;
  }
}

.zoom-container:hover .zoom-caption {
  background-color: none;
}

// @media (max-width: 1199px) {
//   .container {
//     width: auto;
//     padding: 0 10px;
//   }
// }

// @media (max-width: 767px) {
//   .zoom-container {
//     width: 50%;
//   }
// }

// @media (max-width: 480px) {
//   .zoom-container {
//     width: 100%;
//   }
// }
